h1, h2, p{
    text-align: center;
}
body{
    /*background-color: rgb(13, 92, 156);*/
    background-image: url(https://images.pexels.com/photos/12604928/pexels-photo-12604928.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Robot',sans-serif;
}   
h1 , h2,p{
    text-align: center;
}
.tea-menu{
    width: 80%;
    background-color: rgba(16, 43, 119, 0.384);
   /* background-color: aqua;*/
    margin-left: auto;
    margin-right: auto;
}
.tea-items p{
    display: inline-block;
}
.tea-flavor, collection-flavor{
    margin-left: 5px;
    width: 55%;
    background-color: aquamarine;
    text-align: left;
}
.tea-price, collection-price{
    width: 40%;
    background-color: aqua;
    text-align: right;
}